<?xml version="1.0" encoding="utf-8"?>
<Projects>
  <Version>0.2</Version>   
  <Project>
    <ProjectName>整机测试</ProjectName>
    <ConfigPath>Integrate\IntegrateConfig.xlsx</ConfigPath>
    <StrategyPath>Integrate\Strategy.xml</StrategyPath>	
    <DevicePath>Integrate\Device.xml</DevicePath>	
    <ReportPath>Integrate\IntegrateReport.xlsx</ReportPath>	
  </Project> 
  <Project>
    <ProjectName>可靠性测试</ProjectName>
    <ConfigPath>reliability\reliabilityConfig.xlsx</ConfigPath>
    <StrategyPath>reliability\Strategy.xml</StrategyPath>	
    <DevicePath>reliability\Device.xml</DevicePath>
    <ReportPath>reliability\reliabilityReport.xlsx</ReportPath>	
  </Project>    
  <Project>
    <ProjectName>板级测试</ProjectName>
    <ConfigPath>board\BoardConfig.xlsx</ConfigPath>
    <StrategyPath>board\Strategy.xml</StrategyPath>	
    <DevicePath>board\Device.xml</DevicePath>
    <ReportPath>board\BoardReport.xlsx</ReportPath>	
  </Project>    
</Projects>